<!DOCTYPE html>
<htm>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Aaja</title>
    <link rel="icon" href="/images/logo.jpg" />
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </head>

  <body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Time Management
                    </a>
                </li>
                <li>
                    <a href="#">Todo List</a>
                </li>
                <li>
                    <a href="#">Exam Prep</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Group Discussions</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fas fa-align-justify"></i></a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <div class="container container-table">
      <div class="row vertical-center-row" style="margin-top:20px;">
        <div class="col-md-3"></div><br>
        <div class="text-center col-md-6">
          <form class="" method="post" action="/setProfile">
            Select the Faculty&nbsp&nbsp&nbsp
            <select name="faculty">
              <option value="BCT">BCT</option>
              <option value="BEX">BEX</option>
            </select><br><br>
            Select the Semester&nbsp&nbsp
            <select name="sem">
              <option value="1">First</option>
              <option value="2">Second</option>
              <option value="3">Third</option>
              <option value="4">Fourth</option>
              <option value="5">Fifth</option>
              <option value="6">Sixth</option>
              <option value="7">Seventh</option>
              <option value="8">Eighth</option>
            </select><br><br>
            Exam Date : <input type="date" name="deadline"><br><br>
            <button class="btn btn-success btn-block" type="submit">Set Profile</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

  </body>
</html>
